@keyframes arrow-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(6.5rem);
    }
 }

 @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}